/* RESET RULES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* STYLE */

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    border: 2px splid black;
    color: white;
}

.btn {
    cursor: pointer;
}

main {
    background-color: greenyellow;
}

section {
    width: 1000px;
    aspect-ratio: 1 /1;
    margin: 0 auto;
}

.griglia {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.cella {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}

.bg-blu {
    background-color: blue;
}

/* UTILITIES */

/* DEBUG */